
@media screen and (min-width: 1200px) {
	/*xl-left*/
	.xl-left{
		float: left;
	}

}
@media screen and (min-width: 320px) {
	/*xs-right*/
	.xs-right{
		float: right;
	}

}
@media screen and (min-width: 480px) {
	/*sm-left*/
	.sm-left{
		float: left;
	}

}