@media screen and (min-width: 320px) {
/*xs-left*/
	.xs-left {
		float: left;
	}
}

@media screen and (min-width: 480px) {
/*sm-right*/
	.sm-right {
		float: right;
	}
}

@media screen and (min-width: 320px) {
/*xs-right*/
	.xs-right {
		float: right;
	}
}

